.wrapper{
   position: relative;
   overflow: hidden;
   min-height: 100%;
}

[class*="__container"]{
   margin: 0 auto;
   max-width: 1230px;
}

body{
   background-color: #333;
}

.house__container{
   position: relative;
   display: inline-block;
   margin-bottom: 100px;
}

.house__square{
   position: absolute;
   left: 400px;
   top: -400px;
   width: 400px;
   height: 400px;
}

.house__roof{
   position: absolute;
   rotate: 135deg;
   top: -609px;
   left: 390px;
   width: 420px;
   height: 420px;
}

.house__window{
   position: absolute;
   width: 300px;
   height: 300px;
   top: -370px;
   left: 420px;
}

.house__door{
   position: absolute;
   width: 250px;
   height: 300px;
   top: -300px;
   left: 500px;
}

/* =========================== */

.rocket__container{
   position: relative;
   display: inline-block;
   margin-bottom: 50px;
}

.rocket__traingle{
   width: 300px;
   height: 300px;
   position: absolute;
   left: 400px;
}

.rocket__body{
   width: 600px;
   height: 500px;
   position: absolute;
   left: 240px;
   top: 290px;
   z-index: -1;
}

.rocket__window{
   position: absolute;
   top: 250px;
   left: 400px;
   width: 300px;
   height: 300px;
}

.second--window{
   top: 500px;
}

.rocket__square{
   position: absolute;
   top: 606px;
   z-index: -1;
   left: 225px;
   width: 200px;
   height: 200px;
}

.second--square{
left: 685px;
}

.rocket__fire{
   position: absolute;
   width: 150px;
   height: 190px;
   top: 750px;
   left: 390px;
   z-index: -100;
   rotate: 45deg;
}

.fire__second{
   left: 470px;
   rotate: 0deg;
}

.fire__third{
   z-index: -100000;
   left: 550px;
   rotate: -45deg;
}